.subscribe-button {
  background-color: rgb(204, 0, 0);
  color: white;
  border: none;
  margin-left: 10px;
  margin-right: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2px;
  cursor: pointer;
  transform: opacity 0.15s;
  vertical-align: top;
}

.subscribe-button:hover {
  opacity: 0.8;
}

.subscribe-button:active {
  opacity: 0.5;
}

.join-button {
  background-color: white;
  border-color: rgb(6, 95, 212);
  border-width: 1px;
  border-style: solid;
  color: rgb(6, 95, 212);
  border-radius: 2px;
  margin-left: 10px;
  margin-right: 8px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  vertical-align: top;
  transition: background-color 0.2s, color 0.2s;
}

.join-button:hover {
  background-color: rgb(47, 137, 221);
  color: white;
}

.join-button:active {
  opacity: 0.7;
}
.twitter-button {
  margin-left: 10px;
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(4, 152, 243);
  color: white;
  border: none;
  border-radius: 18px;
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;
  vertical-align: top;
  transition: box-shadow 0.15;
}

.twitter-button:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}
